@{
    ViewData["Title"] = "Proiect Dezvoltarea aplicatiilor WEB";
}
<h1 class ="text-white">@ViewData["Title"]</h1>

<h3 class="text-white">Site tip Wikipedia</h3>
<h3 class="text-white">Georgescu Ionut-Alexandru 461</h3>